.custom-btn {
    background-color: #6DCD82;
    border: none;
    height: 45px;
    padding: 0 15px;
    color: white;
}

.custom-btn p {
    margin: auto;
}

.custom-btn:focus {
    outline: none;
}

.btn--white {
    text-transform: uppercase;
    background-color: white;
    border: 1px solid black;
    color: black;
    opacity: 0.7;
    visibility: hidden;
    transition: visibility 0.2s;
}