.navigation-bar {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.navigation-bar li {
    list-style: none;
    padding: 0px 10px;
}

.navigation-bar img {
    height: 32px;
    width: 27px;
}

.pageLinks {
    max-width: 523px;
   }

.pageLinks a {
    font-weight: bold;
}

.pageLinks li:hover {
    text-decoration: underline;
}