.orderpage {
    display: flex;
    justify-content: center;
}

.orderpage h2 {
    font-size: 20px;
    margin: 0 0 30px 0;
}

/* ---------------------------------- */
/* Shipping and Payment Section       */
/* ---------------------------------- */
.orderpage .shipping-address,
.payment-info {
    margin-bottom: 50px;
}

.shipping-address input {
    text-align: left;
}

.test-credit-card {
    border: 1px solid red;
    padding: 15px;
    margin-bottom: 20px;
}

.payment-info {
    width: 380px;
}

/* ---------------------------------- */
/* Purchase Order Summary             */
/* ---------------------------------- */
.summary-section {
    border: 1px solid #6DCD82;
    padding: 18px 35px;
    height: fit-content;
    margin-left: 80px;
}

.orderpage .order-summary span {
    margin: 5px 0;
    text-align: right;
    font-weight: 400;
}

.orderpage .custom-btn {
    width: 100%;
}