.checkout-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    margin: 15px 0;
}

.item__desc {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 200px;
}

.item__desc div {
    text-align: left;
}

.desc__price {
    display: none;
}

.item__desc img {
    margin-bottom: 10px;
    width: 200px;
    height: auto;
}

.item__quantity {
    display: flex;
    justify-content: center;
}

.item__quantity .clear-icon {
    width: 18px;
    height: auto;
}

.item__quantity .update-icon {
    position: relative;
    width: 15px;
    height: auto;
    margin: 0 15px;
    top: 3px;
}

.item__quantity input {
    width: 50px;
}

@media screen and (max-width: 411px) {
    .checkout-item {
        display: flex;
        flex-direction: column;
    }

    .price-name-container {
        display: flex;
        justify-content: space-between;
    }

    .item__quantity .update-icon {
        position: relative;
        width: 15px;
        height: auto;
        margin: 0 30px;
    }

    .item__quantity {
        margin-bottom: 20px;
    }

    .price-subtotal-container {
        display: none;
    }

    .desc__price {
        display: flex;
    }
}