.checkout-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    margin: 15px 0;
}

.item__desc {
    display: flex;
    flex-direction: column;
}

.item__desc span {
    text-align: left;
}

.item__desc img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.item__quantity {
    display: flex;
    justify-content: center;
}

.item__quantity .clear-icon {
    width: 18px;
    height: auto;
}

.item__quantity .update-icon {
    position: relative;
    width: 15px;
    height: auto;
    margin: 0 15px;
    top: 3px;
}

.item__quantity input {
    width: 50px;
}