.partner-section {
    margin: 10px 0px 80px 0px;
    text-align: center;
}

.partner-section h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.partner-section img {
    width: 110px;
    height: auto;
    margin: 10px;
    filter: grayscale(100%);
    opacity: 0.5;
}