.shoppage h2 {
    font-weight: 500;
    font-size: 15px;
}

.shoppage__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1024px) {
    .shoppage__items {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 414px) {
    .shoppage__items {
        grid-template-columns: 1fr;
    }
}