.shop-item {
    margin: 10px 20px 10px  0;
    display: flex;
    width: fit-content;
    flex-direction: column;
}

.item__img {
    width: 280px;
    height: 350;
    object-fit: cover;
}

.item__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -35px;
}

@media screen and (max-width: 1024px) {
    .btn--white {
        visibility: visible;
        top: 0;
        order: 2;
        font-weight: 300;
        background-color: white;
        border: 1px solid black;
        color: black;
        width: 100%;
    }

    .shop-item > * {
        margin: 10px 0;
    }
}

.item__name {
    width: 80%;
}
.item__price {
    width: 20%;
    text-align: right;
}

.shop-item:hover .custom-btn {
    visibility: visible;
}
