.shop-item {
    margin: 10px 20px 10px  0;
    display: flex;
    width: fit-content;
    flex-direction: column;
}

.item__img {
    width: 280px;
    height: 350;
    object-fit: cover;
}

.shop-item .custom-btn {
    width: 80%;
    align-self: center;
    position: relative;
    top: -70px;
    
}

.item__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -45px;
}

.item__name {
    width: 80%;
}
.item__price {
    width: 20%;
    text-align: right;
}

.shop-item:hover .custom-btn {
    visibility: visible;
}
