.orderpage {
    display: flex;
    flex-direction: column;
}

.orderpage .go-to {
    margin: -5px 0 15px 0;
}

.input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.orderpage .vert-divider {
    width: 1px;
    height: 250px;
    margin: auto;
    background-color: #acacac;
}

.orderpage  .custom-btn {
    width: 200px;
    margin: 20px 0 30px auto;
}