.orderpage {
    display: flex;
    flex-direction: column;
    position: relative;
}

.orderpage .error-msg {
    border: 1px solid red;
    color: red;
    padding: 10px;
    margin-bottom: 20px;
}

.orderpage .go-to {
    margin: -5px 0 15px 0;
}

.orderpage__info {
    display: flex;
}

.orderpage .user-contact

.left-section,
.right-section {
    display: flex;
    flex-direction: column;
}

.orderpage .divider {
    width: 1px;
    height: 400px;
    margin: auto;
    background-color: #acacac;
}

.right-section .custom-btn {
    width: 200px;
    margin: 0 0 30px auto;
}

@media screen and (max-width: 768px) {
    .orderpage .divider {
        display: none;
    }

    .orderpage__info {
        flex-direction: column;
    }

    .orderpage section > * {
        margin-bottom: 40px;
    }

    .right-section .custom-btn {
        margin: 0;
    }
}