.icon-navigation {
    width: fit-content;
    display: flex;
    margin: auto 0;
    text-align: right;
}

.icon-navigation img {
    width: 18px;
    height: auto;
}

.icon--active,
.icon-navigation img:hover {
    filter: invert(73%) sepia(57%) saturate(341%) hue-rotate(80deg) brightness(90%) contrast(87%);
}

.cart-icon {
    margin-left: 20px;
}

.cart-icon:hover + .cart-dropdown {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .cart-icon:hover + .cart-dropdown {
        display: none
    }
}