.navigation {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.navigation li {
    list-style: none;
    margin: 0px 10px;
    height: 25px;
}

.navigation img {
    height: 32px;
    width: 27px;
}