.form-input {
    display: flex;
    margin: 10px 0;
    line-height: 20px;
}

.input__label {
    width: 120px;
    font-size: 15px;
}

.input__error {
    display: flex;
    flex-direction: column;
}

.form-input input {
    width: 250px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid #424242;
    text-align: center;
    border-radius: 0;
}

.form-input input:focus {
    outline-style: none;
}

.validation-error {
    font-size: 10px;
    margin-top: 5px;
    color: red;
}

@media screen and (max-width: 414px) {
    .form-input {
        flex-direction: column;
    }
}