.review-section {
    position: relative;
    left: -25px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.review-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating-summary h2 {
    max-width: 507px;
}

.rating-summary img {
    width: 135px;
}

.logo-container {
    width: fit-content;
    margin-top: 20px;
}

.logo-container img {
    max-width: 115px;
    margin: 10px;
    filter: grayscale(100%);
    opacity: 0.5; 
}