.header {
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.branding {
    display: flex;
    margin-right: 15px;
    flex-direction: row;
}

.branding img {
    height: 60px;
    width: 130px;
}