.header {
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header a {     
    text-decoration: none;
    color: darkgrey;
}

.header-item {
    display: flex;
    flex-direction: row;
}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header li {
    list-style: none;
    padding: 0px 10px;
}