.section {
    display: flex;
}

.section--col {
    flex-direction: column;
}

.section__text p {
    font-size: 15px;
}

.section__btns {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}