.section {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.section-text span {
    font-size: 10pt;
}

.section-buttons {
    margin-top: 15px;
    position: relative;
    left: -10px;
}