.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.header__branding {
    display: flex;
    margin: auto 0;
}

.header__branding img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.header__branding h2 {
    color: #6DCD82;
    margin: 0;
}
