.success-modal {
    border: 1px solid #424242;
    width: 350px;
    height: fit-content;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    align-self: center;
    padding: 10px 30px 25px 30px;
    text-align: center;

}

.success-modal h2 {
    font-size: 20px;
}

.success-modal .btn-container {
    display: flex;
    margin-top: 30px;
}

.success-modal .custom-btn {
    width: 170px;
    margin-left: auto;
}

@media screen and (max-width: 414px) {
    .success-modal {
        width: 200px;
        top: 10%;
    }
}