.homepage {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* ----------------------- */
/* REUSABLE SECTION STYLES */
/* ----------------------- */

.section--row {
    display: flex;
    flex-direction: row;
    margin: 15px 0 45px 0;
    justify-content: start;
}

.section--pic-right img {
    order: 2;
}

/* ----------------------- */
/* INTRO SECTION */
/* ----------------------- */
.intro-section .section__text-btns {
    width: 40%;
}

.intro-section h2 {
    font-size: 48px;
    line-height: 55px;
    font-weight: 500;
    margin-bottom: 12px;
}

.intro-section .section__img {
    width: 408px;
    height: auto;
    margin-left: 39px;
}

.blob-image {
    z-index: -2;
    position: absolute;
    left: 58%;
    width: 400px;
}